#
*.orig
*.rej
*.swp
*.bak
*.org
*.old
*~
*.[oa]
*-
*+

#
*.o[0-9]*
*.po[0-9]*
*.log.*
*.log
*.out

#
tests/*
LOGS/*
scr/*
misc/*

#
*__genmod.f90
*__genmod.mod
cuda/cuda.cu
ofmo-master
ofmo-mserv
ofmo-worker
ofmo-falanx
skel-rhf

